@model IEnumerable<firststeplocal.Models.Product>

@{
    ViewData["Title"] = "Index";
}

<div class="container pb-5"> 
<div class="row">

    <div class="col-md-3">

            <form asp-action="Index" method="get">

                <ul class="list-group">
                    @foreach (var kategori in ViewBag.Kategoriler1 as SelectList)
                    {
                        var isSelected = kategori.Value.Equals(ViewContext.HttpContext.Request.Query["kategoriId1"].FirstOrDefault());
                        <button type="submit" name="kategoriId1" value="@kategori.Value" class="list-group-item @(isSelected ? "active" : "")">
                            <i class="fa fa-angle-double-right" aria-hidden="true"></i>
                            @kategori.Text
                        </button>
                    }

                    <button type="submit" name="kategoriId1" value="" class="list-group-item @(ViewContext.HttpContext.Request.Query["kategoriId1"] == "" ? "active" : "")">
                        <i class="fa fa-angle-double-right" aria-hidden="true"></i>
                        Tüm Kategoriler
                    </button>
                </ul>

            </form>

    </div>

        <div class="col-md-9">

             @if (Model.Count() == 0)
            {
                <div class="alert alert-warning" role="alert">
                    <i class="fa fa-exclamation-circle" aria-hidden="true"></i>
                    Bu kategoride bir ürün bulunamadı.
                </div>
            }
            else
            {
                <div class="alert alert-warning" role="alert">
                    <i class="fa fa-check-square" aria-hidden="true"></i>
                    <strong>@Model.Count() adet</strong> ürün bulundu.
                </div>
            }

            <div class="row">
            @foreach (var product in Model)
            {
                <div class="col-md-4 mb-3">
                    <div class="card">
                            <img class="card-img-top" src="/lib/assets/@product.Image" alt="@product.Name">
                        <div class="card-body">
                            <h4 class="card-title">
                                <a href="/Products/Details/@product.ProductId"> @product.Name</a>
                            </h4>
                            <p class="card-text pt-2 description">
                                @product.Description
                            </p>
                        </div>
                        <div class="card-footer">
                            <small class="text-muted product-price">
                                <i class="fa fa-try" aria-hidden="true"></i>
                                @product.Price
                            </small>
                                <a href="/Products/Details/@product.CategoryId" class="btn btn-default btn-sm float-right">
                                <i class="fa fa-angle-double-right" aria-hidden="true"></i>
                                Ürünü incele
                            </a>
                        </div>
                    </div>
                </div>
            }
            </div>
        </div>


    </div>
</div>
